<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>
        {% block title %} MyMDB {% endblock %}
    </title>
    <style>
        .mymdb-masthead {
            background-color: #eeeeee;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div class="mymdb-masthead">
        <div class="container">
            <nav class="nav">
                <div class="navbar-brand">MyMDB</div>
                <a class="nav-link" href=" {% url 'core:MovieList' %} "> Movies </a>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 mymdb-main">
                {% block main %}{% endblock %}
            </div>
            <div class="col-sm-3 offset-sm-1 mymdb-sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>